.mpesa-btn {
  background-color: green;
  width: 85%;
  border-radius: 5px;
  border: none;
}

.mpesa-btn img {
  height: 40px;
  transform: scale(2.5, 2.2);
  filter: brightness(5);
}

.mpesa-btn:hover {
  background-color: darkgreen;
}
