/* @tailwind base;
@tailwind components;
@tailwind utilities; */

main {
  min-height: 80vh;
}

.nav-brand {
  display: flex;
  /* align-items: center; */
}

.nav-brand svg {
  fill: currentColor;
  --tw-text-opacity: 1;
  color: rgb(34 211 238 / var(--tw-text-opacity));
  margin-right: 0.5rem;
}

.nav-brand h1{
  font-size: 1.8rem;
  font-weight: 700;
  color: white;
}

.nav-link{
  display: flex;
  align-items: center;
  margin-right: 1rem;
  color: white;
}

/* TODO: Look for suitable hover colors for navbars */
.nav-link:hover{
  /* background-color: #297fb8; */
  /* color: #ff8c00; */
  color: white;
}

.nav-link .icon{
  margin-right: 0.25rem ;
}

.badge{
  margin-left: 0.25rem;
}

.rating span {
  margin: 0.1rem;
}

.rating svg {
  color: #f8e825;
}

.product-title {
  height: 2.5em; /* Set a fixed height */
  overflow: hidden; /* Hide overflow content */
  text-overflow: ellipsis; /* Add ellipsis for long text */
  white-space: nowrap; /* Prevent wrapping */
}

table td,
table th {
  text-align: center;
}

.review {
  margin-top: 30px;
}

.review h2 {
  font-size: 24px;
  background: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
}

.review button {
  margin-top: 10px;
}

.carousel-caption {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
